body{

  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;

}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 50px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container
{
margin: 0;
  background-color: #66BFBF;
  padding: 30px 0 25px;


}
hr{
  color: grey;
  border-style: none none;
  border-top-style : dotted;
  border-width: 5px;
  width : 4%;
  margin: 100px auto;

}
h1
{
   font-size: 462.5%;
  margin : 50px auto 0 auto;
font-family: Sacramento ;
color: #66BFBF;


}
h2
{
  font-family: Montserrat , sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  margin-top: 0;
}
h3{

  color: #11999E;
}
p{
  line-height: 2;
}

.cloud1
{
  position: absolute;
  left:1000px;
  top: 50px;

}
.cloud2
{
  position: absolute;
  left:400px
}
.footer-link
{
  color: #325288;
  font-family: Montserrat , sans-serif;
text-decoration: none;

  margin: 10px 10px;
}
a:hover{
  color: #EAF6F6;
}
.I2
{
  width : 30%;
  float : left;
  margin-right: 30px;
}
.chessimg{
  width : 25%;
  float : right;
  margin-right: 30px;
  position: relative;
  bottom: 30px;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 30%;
  margin : 30px auto 40px;
}
.skill-row{
width:50%;
margin: 50px auto 100px auto;
text-align: left;
line-height: 2;
}
.profile{
  margin-bottom: 100px;
}
.contact-me{
  margin-bottom: 80px;
}
.btn {

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.C {
  padding-top: 20px;
  margin: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
